#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "tcg-collection"
name = "TCG collection"
description.en = "Collection manager for Yu-Gi-Oh!, Riftbound or Dragon Ball Akira cards."
description.fr = "Gestionnaire de cartes Yu-Gi-Oh!, Riftbound ou Dragon Ball Akira."

version = "2026-01-04~ynh1"

maintainers = [ "OniriCorpe" ]

[upstream]
license = "MIT"
demo = "https://guimove.io"
code = "https://codeload.github.com/Guimove/tcg-collections/"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/example"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://codeload.github.com/Guimove/tcg-collections/zip/75e27fc64ec9235ec1da9e5c02d31460bbb65747"
    sha256 = "99db779ce2a50bafd28f67705ec6d48011293a0d2b463ec969ef658e3bfa09cb"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]
    
    [resources.install_dir]
    
    [resources.permissions]
    main.url = "/"
